@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Bitcount+Single:wght@100..900&family=Mozilla+Headline:wght@200..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

nav {
    width: 100%;
    position: sticky !important;
    top: 0;
    z-index: 1020;
    box-shadow: 2px 1px 2px rgb(210, 205, 205);

}

.navbar-brand {
    font-weight: 600;
    font-family: "Mozilla Text", sans-serif;
    font-size: 25px;
}

.nav-link:hover {
    color: rgb(20, 94, 169);
    text-decoration: underline;
}

.navbar-nav {
    font-style: normal;
    font-weight: 350;
    gap: 4px;
}

.nav-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-item:hover {
    transform: translateY(-4px);
}

/* hero section */
.hero-section {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    padding: 80px 0;
}

.para {
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #555;
}

.text-para {
    margin-top: 30px;
    font-size: 16px;
    color: rgb(55, 54, 54);
}

.hero-section .container .btn {
    width: 112px;
    height: 46px;
    border-radius: 10px;
    font-size: large;

}

.img-fluid {
    width: 300px;
    max-height: 288px;
    object-fit: cover;
    margin-top: 20px;
}

/* about section */
.about .text {
    margin-top: 100px;
    font-size: 30px;
    font-weight: 600;
    font-family: "Mozilla Text", sans-serif;
}

.lead {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #555;
}

/* Skill section */
.bg-light .container h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: "Mozilla Text", sans-serif;
    margin-top: 50px;
}

.bg-light .container p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #3f3d3d;
    text-align: center;
}

/* Project section */
.py-5 .container .text-center {
    font-size: 30px;
    font-weight: 600;
    font-family: "Mozilla Text", sans-serif;
    margin-top: 50px;
}

.py-5 .container .p-section {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #3f3d3d;
    text-align: center;
}

.py-5 .container .row .card-text {
    font-style: normal;
    font-weight: 300;
    color: #555;
}

.card {
    height: 420px;
    width: 100%;
}

.card img {
    height: 231px;
    object-fit: cover;
}

.project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Contact section */
.contact-section {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.social-icons .fab {
    font-weight: 400;
    font-size: x-large;
    color: #686565;
}

.fab:hover {
    color: rgb(20, 94, 169)
}

.form-control {
    width: 100%;
    padding: .375rem .75rem;
}

.form .btn {
    font-family: "Mozilla Text", sans-serif;
    margin-top: 14px;
}

.form {
    font-size: 15px;
}

.btn {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
